<div class="row">
  <div class="col-md-6 col-lg-4 p-5 mx-auto">
    <div class="card">
      <div class="card-header">Registrar</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()" novalidate>
          <label>E-Mail</label>
          <input formControlName="email" required class="form-control" autocomplete="username"/>

          <label>Senha</label>
          <input
            formControlName="password"
            required
            type="password"
            class="form-control"
            autocomplete="current-password"
          />
          <div class="text-center pt-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
          </div>
        </form>
        <div class="text-center pt-3">
          <a routerLink="../login">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</div>
