<div class="row text-center" *ngIf="isLoading">
  <div class="col col-12 top-50 position-fixed">
    <div class="spinner-border text-dark"></div>
  </div>
</div>
<div class="row" *ngIf="!isLoading">
  <div class="col col-12 mb-3">
    <app-stat
      [bgClass]="'primary'"
      [icon]="'fa-clock-o'"
      [worked]="!totalHoursWorked? 0 : totalHoursWorked"
      [total]="totalHoursMonth"
    ></app-stat>
  </div>
  <div class="col col-12">
    <div class="card mb-3">
      <div class="card-header">
        {{'app.views.graph.title' | translate}}
      </div>
      <div class="card-body">
        <google-chart [data]="data"></google-chart>
      </div>
    </div>
  </div>
</div>
