<div class="row">
  <div class="col-md-6 col-lg-4 p-5 mx-auto">
    <div class="card">
      <div class="card-header">Entrar</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()" novalidate>
          <label>Login</label>
          <input formControlName="login" required class="form-control" />

          <label>Senha</label>
          <input
            formControlName="password"
            required
            type="password"
            class="form-control"
          />
          <div class="text-center pt-3">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
