fieldset {
  legend {
    font-size: 20px;
    margin-top:-20px;
    width: auto;
  }
  legend + * {
    clear:both;
  }
  padding-top:10px;
  border: 1px solid #e0e0e0;
  border-radius: 0.25em;
  padding: 5px;
}
