<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/app/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'app.sidebar.home' | translate }}</span>
        </a>
    </div>
    <div class="list-group">
        <a (click)="onLoggedout()" class="list-group-item">
          <i class="fa fa-fw fa-sign-out"></i>&nbsp;
          <span>{{ 'app.sidebar.logout' | translate }}</span>
      </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'app.sidebar.collapse' | translate }}</span>
    </div>
</nav>
